@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Montserrat";
}

* {
  font-family: "Montserrat";
}
*::-webkit-scrollbar {
  display: none;
}

.land:hover {
  fill-opacity: 1;
  transform: translateY(-10px);
}

.land {
  fill: #cccccc;
  fill-opacity: 0.2;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: transform 0.2s ease-in-out;
}
